<div>
  <h1>Natural Lifestyle</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <img
            src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/48180387_101681440885928_293402646352494592_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=BVTq30Nbk_gAX9Qsg5F&_nc_ht=scontent-lax3-1.xx&oh=00_AfAh9xRYk577Hkw-6kXD7rXhpDQ2XDv08W5MsVk0xL9pvg&oe=64DD2AAA"
            alt="Emma Berry" class="img-responsive">
          <h3>Lifestyle Teacher: Emma Berry</h3>
          <p>
            Several years ago Emma was diagnosed with an allergy to propylene glycol. Before her diagnosis this chemical
            was not even on our radar. When we began investigating, we found it was in everything from shampoo to
            chocolate muffins! Concern for her health led us on a natural living journey which has reaped so many
            benefits for our whole family. We love to share what we have learned about organic foods, cooking from
            scratch, homemade beauty products, and more.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>